.features-title {
    display: none;
}

.features {
    padding-top: 94px;
}

.features-title {
    @extend %title;
}

.features-list {
    list-style: none;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (min-width: $tablet) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    @media screen and (min-width: $desktop) {
        width: 1200px;
    }
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
}

.p-list {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--prmary-text-color);
}

.list .way {
    width: 270px;
    margin-right: 30px;
}

.list .way:last-child {
    margin-right: 0;
}

.way-card {
    display: inline-flex;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--bg-our-color);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.icon-card {
    display: block;
    margin: auto;
    text-align: center;
}

.features__item {
    flex-basis: auto;

    @media screen and (min-width: $tablet) {
        flex-basis: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: $desktop) {
        flex-basis: calc((100% - 3 * 30px) / 4);
    }
}