/* Шапка сайту Header */



.top {
    display: flex;
    align-items: center;
}

.main-header {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
  border-bottom: 1px solid var(--border-bottom);
  @media screen and (min-width: $tablet) {
    max-width: 768px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 1600px;
  }
  }



/* Логотип Logo */


.header-logo {
    display: block;
    padding: 24px 0;
    color: var(--black-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration-line: none;
}

.header-logo-blue {
    color: var(--accent-color);
}

/* Меню NAV */

.navigation {
    display: none;
    @media screen and (min-width: $desktop) {
      display: flex;
      margin-left: 93px;
    }
    @media screen and (min-width: $tablet) {
      display: flex;
      margin-left: 88px;
    }
  }

.navigation-list {
    list-style: none;
    display: flex;
    margin-left: 93px;
    position: relative;
}

.navigation-item-current {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration-line: none;
    display: block;
    padding: 32px 0;

    &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 4px;
            background-color: var(--accent-color);
            border-radius: 2px;
            transform: scaleX(0);
            transition: transform 250ms var(--timing-function);
        }
        &:hover,
        &:focus {
        color: var(--accent-color);
                }
}

.navigation-item-port {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration-line: none;
    display: block;
    padding: 32px 0;
    margin-left: 93px;
    &:hover,
    &:focus {
            color: var(--accent-color);
        }
}

.navigation-item {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration-line: none;
    display: block;
    padding: 32px 0;
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
            color: var(--accent-color);
        }
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 4px;
                    background-color: var(--accent-color);
                    border-radius: 2px;
                    transform: scaleX(0);
                    transition: transform 250ms var(--timing-function);
                }
}

.navigation-item-current-port {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration-line: none;
    display: block;
    padding: 32px 0;
}

.navigation-list .item+.item {
    margin-left: 50px;
}

.navigation-item-current::after {
    transform: scaleX(1);
}

.navigation-item:hover::after {
    transform: scaleX(1);
}

.navigation-item-current {
    transform: scaleX(1)
}


 /* Контакти link */

.contact-list {
     @media screen and (max-width: 767px) {
      display: none;
    }
  margin: auto 0 auto auto;
}

.contact-item {
@media screen and (max-width: 1199px) {
      font-size: 12px;
      line-height: 1.17;
    }
   display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--prmary-text-color);
  fill: currentColor;
  transition: color 250ms var(--timing-function), 
  fill 250ms var(--timing-function);
    &:focus,
    &:hover {
      color: var(--accent-color);
      fill: currentColor;
      }
}

.item .contact-list {
    margin: auto 10px auto auto;
    display: flex;
}

.item + .item {
  margin-left: 50px; 
  @media screen and (max-width: 1199px) {
    margin: 10px 0 0 0;
  }
  }

.icon 
{
   @media screen and (max-width: 1199px) { 
    margin: auto 10px auto auto;
    margin-left: 0;
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

  .contacts__icon-smartphone {
    margin: auto 10px auto auto;
    @media screen and (max-width: 1199px) {
      display: none;
    }
  }


