.header-burger__btn,
.header-close__btn {
    @media screen and (min-width: $tablet) {
        display: none;
    }

    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

.header-close__btn {

    &:focus,
    &:hover {
        fill: var(--accent-color);
    }
}

.mobile-menu__link {

    &:focus,
    &:hover {
        color: var(--accent-color);
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    // padding: 48px 40px;
    background-color: var(--white-color);
    // background-color: transparent;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.mobile-menu {
    &.is-open {
        transform: translateX(0);
    }
}

.mobile-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: auto;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
}

.header-close__btn {
    position: absolute;
    top: 10px;
    right: 15px;
}

.mobile-menu__list {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    text-align: left;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.mobile-menu__item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.mobile-contacts__list {
    margin: auto 0 64px;
    flex-wrap: wrap;
    white-space: nowrap;

}

.mobile-contacts__link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);

    @media screen and (max-width: 479px) {
        font-size: 30px;

    }
}

.mobile-mail-contacts__link {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;
}

.mobile-contacts__item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.mobil-social__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}


.mobil-social__item {
    position: relative;
    margin-right: 20px;
}



.mobil-social__item {
    &:not(:last-child) {
        &::after {
            content: "";
            position: absolute;
            top: 40%;
            right: -31px;
            display: block;
            margin: 0 10px;
            width: 22px;
            height: 0;
            border: 1px solid rgba(33, 33, 33, 0.2);
            transform: rotate(90deg);
        }
    }
}

.mobil-social__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.mobil-social__item {
    display: flex;
}


.mobil-separator {
    margin: 0 10px;
}


.js-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transform: translateX(-100%);
}

.js-menu-container.is-open {
    transform: translateX(0);
}

.mobile-menu__link--current {
color: var(--accent-color);
}