.team {
    background-color: var(--bg-our-color);
    padding: 60px 0;
    background-color: var(--bg-our-color);
    max-width: 480px;
    max-width: 1600px;
    margin: 0 auto;

    @media screen and (min-width: $tablet) {
        max-width: 768px;
    }

    @media screen and (min-width: $desktop) {
        max-width: 1600px;
        padding: 94px 0;
    }
}



.section-title {
@extend %title;
}


.item.com {
    width: 270px;
    background-color: var(--white-color);
    border-radius: 0px 0px 4px 4px;
}

.list-workers {
    display: flex;
        flex-direction: column;
        justify-content: center;
    
        @media screen {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
        }
    
        @media screen and (min-width: $desktop) {
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 30px;
        }
    & .link {
            display: inline-flex;
            fill: var(--borders);
            width: 44px;
            height: 44px;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            transition: background-color 250ms var(--timing-function),
                fill 250ms var(--timing-function);
        }
}

.team-item {
background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: $tablet) {
        flex-basis: calc((100% - 30px) / 2);
    }
}

@media screen and (max-width: 767px) {
    .team__item {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}


.team-name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-align: center;
    padding-top: 30px;
    margin-bottom: 10px;
}

.p-job {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--prmary-text-color);
    margin-bottom: 16px;
}

.social-com {
    display: flex;
    gap: 10px;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    & .link:hover,
        & .link:focus {
            background-color: var(--accent-color);
            fill: var(--white-color);
        }
}

.team-jpg {
    width: 100%;
}

