body {
    color: var(--prmary-text-color);
    font-family: Roboto, Verdana,
        sans-serif;
}

.container {
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (min-width: $mobile) {
        width: 480px;
    }

    @media screen and (min-width: $tablet) {
        width: 768px;
    }

    @media screen and (min-width: $desktop) {
        width: 1200px;
    }
}

// для page-portfolio
.section {
    padding: 94px 0;
}

.logo {
    display: block;
    padding: 16px 0;
    color: var(--accent-color);
    font-family: Raleway, Verdana,
        sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;

    @media screen and (min-width: $desktop) {
        font-size: 26px;
        line-height: 1.19;
    }
}